## Importando todas as bibliotecas possíveis em Python

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.model_selection as ml
from sklearn.neighbors import KNeighborsClassifier

## Dataframe
Criar dataframe a partir do .csv

In [ ]:
# dataframe
df = pd.read_csv(
    './pacientes.csv',
    index_col=0,delimiter=';',header=0
)

df = df.drop('nome', 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  import sys

## Função para enumerar dados não númericos

1. Percorrer todas as colunas do Dataframe
2. Caso a coluna seja a label de previsão, pular a enumeração (para facilitar leitura humana)
3. Caso a coluna seja do tipo 'object (grupo de strings)'

  2.1. Em caso positivo, enumerar os dados
  ##### **- Nota: a função enumerate() retorna um index e o valor do dado na lista**
  2.2. Pegar a coluna, para cada indice comparar o dado. Ao validar o dado, substituir por seu valor enumerado no index.

In [ ]:
for col in df:
  if col in df.columns[-2:]:
    break
  if df[col].dtype == 'object':
    for id, val in enumerate(df[col].unique()):
      df[col].iloc[df[col] == val] = id

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

## Criar classes auxiliares
1. Classe de dados utilizados na previsão
2. Classe da label a ser prevista - 'diagnostico'

In [ ]:
# dados usados para previsao
df_classificator = df[df.columns[:-2]]

# label a ser prevista - 'diagnostico'
df_class = df['diagnostico']

## Treinamento do modelo

In [ ]:
X_train, X_test, Y_train, Y_test = ml.train_test_split(df_classificator,df_class,test_size=.3)

In [ ]:
X_train

      idade sexo  peso manchas  temp  int est
id
3217     18    1    67       1  39.5    4   1
3027     34    0    67       3  38.4    2   6
1920     18    0    43       1  38.5    8   1
4201     28    0    79       0  38.0    2   0
4039     49    0    92       2  38.0    2   2

In [ ]:
X_test

      idade sexo  peso manchas  temp  int est
id
2301     22    1    72       1  38.0    3   4
1322     19    1    87       2  39.0    6   5
4340     21    1    52       3  37.6    1   3

In [ ]:
Y_train

id
3217      Doente
3027    Saudavel
1920      Doente
4201      Doente
4039    Saudavel
Name: diagnostico, dtype: object

In [ ]:
Y_test

id
2301      Doente
1322      Doente
4340    Saudavel
Name: diagnostico, dtype: object

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, Y_train)
Y_train

id
3217      Doente
3027    Saudavel
1920      Doente
4201      Doente
4039    Saudavel
Name: diagnostico, dtype: object

In [ ]:
knn.predict(X_test)

array(['Doente', 'Doente', 'Doente'], dtype=object)

In [ ]:
plt.figure()